.headerPrincipal .container {
    display: flex; /*2 elementos alineados 1 delado del otro*/
    align-items: center; /*alineado en el medio*/
    justify-content: space-between; /*espacio entre elementos*/   
}

.headerPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}