.headerPrincipal .container {
    display: flex; /*2 elementos alineados 1 delado del otro*/
    align-items: center; /*alineado en el medio*/
    justify-content: space-between; /*espacio entre elementos*/   
}

.headerPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column; /*elementos uno abajo de otro estilo columna*/
    height: 260px; /*le damos una altura la columna*/
    flex-wrap: wrap; /*cada altura dicha se quiebra y lo pone alado*/

}

.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

.videoSobre .container {
    display: flex;
    
}